<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" >AUTHORIZATION</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class=""><a href="/pro">HOME</a></li>
                <li class="disabled"><a>Logged-In as <%= username%></a></li>
                <li class=""><a href="/profile">Test</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/settings"><span class="fa fa-gears"></span> SETTINGS</a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a></li>
            </ul>
        </div>
    </div>
</nav>